@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Lobster&family=Merriweather:ital,wght@0,400;1,400;1,700&family=Nunito+Sans:wght@400;500;600;700&family=Slabo+27px&display=swap")
layer(base);

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.63 0.21 29.4);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.99 0 0);
  --secondary-foreground: oklch(0.45 0.03 256.8);
  --muted: oklch(0.98 0 247.84);
  --muted-foreground: oklch(0.55 0.02 264.36);
  --accent: oklch(0.93 0.03 33.77);
  --accent-foreground: oklch(0.3 0.04 30.2);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9 0.01 247.88);
  --input: oklch(0.97 0 264.54);
  --ring: oklch(0.63 0.21 29.4);
  --chart-1: oklch(0.72 0.06 248.68);
  --chart-2: oklch(0.79 0.09 35.96);
  --chart-3: oklch(0.58 0.08 254.16);
  --chart-4: oklch(0.5 0.08 259.49);
  --chart-5: oklch(0.42 0.1 264.03);
  --sidebar: oklch(0.96 0 0);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.63 0.21 29.4);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.93 0.03 33.77);
  --sidebar-accent-foreground: oklch(0.3 0.04 30.2);
  --sidebar-border: oklch(0.93 0.01 264.53);
  --sidebar-ring: oklch(0.63 0.21 29.4);
  --font-sans: Poppins, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 7.5px 0px hsl(0 67.35% 71.18% / 0.07);
  --shadow-xs: 0px 1px 7.5px 0px hsl(0 67.35% 71.18% / 0.07);
  --shadow-sm: 0px 1px 7.5px 0px hsl(0 67.35% 71.18% / 0.15),
    0px 1px 2px -1px hsl(0 67.35% 71.18% / 0.15);
  --shadow: 0px 1px 7.5px 0px hsl(0 67.35% 71.18% / 0.15),
    0px 1px 2px -1px hsl(0 67.35% 71.18% / 0.15);
  --shadow-md: 0px 1px 7.5px 0px hsl(0 67.35% 71.18% / 0.15),
    0px 2px 4px -1px hsl(0 67.35% 71.18% / 0.15);
  --shadow-lg: 0px 1px 7.5px 0px hsl(0 67.35% 71.18% / 0.15),
    0px 4px 6px -1px hsl(0 67.35% 71.18% / 0.15);
  --shadow-xl: 0px 1px 7.5px 0px hsl(0 67.35% 71.18% / 0.15),
    0px 8px 10px -1px hsl(0 67.35% 71.18% / 0.15);
  --shadow-2xl: 0px 1px 7.5px 0px hsl(0 67.35% 71.18% / 0.38);
}

.dark {
  --background: oklch(0.26 0.03 262.67);
  --foreground: oklch(0.92 0 0);
  --card: oklch(0.31 0.03 268.64);
  --card-foreground: oklch(0.92 0 0);
  --popover: oklch(0.29 0.02 268.4);
  --popover-foreground: oklch(0.92 0 0);
  --primary: oklch(0.63 0.21 29.4);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.31 0.03 266.71);
  --secondary-foreground: oklch(0.92 0 0);
  --muted: oklch(0.31 0.03 266.71);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.3 0.04 30.2);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.38 0.03 269.73);
  --input: oklch(0.38 0.03 269.73);
  --ring: oklch(0.63 0.21 29.4);
  --chart-1: oklch(0.72 0.06 248.68);
  --chart-2: oklch(0.77 0.09 34.19);
  --chart-3: oklch(0.58 0.08 254.16);
  --chart-4: oklch(0.5 0.08 259.49);
  --chart-5: oklch(0.42 0.1 264.03);
  --sidebar: oklch(0.31 0.03 267.74);
  --sidebar-foreground: oklch(0.92 0 0);
  --sidebar-primary: oklch(0.63 0.21 29.4);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3 0.04 30.2);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.38 0.03 269.73);
  --sidebar-ring: oklch(0.63 0.21 29.4);
  --font-sans: Poppins, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 7.5px 0px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0px 1px 7.5px 0px hsl(0 0% 0% / 0.07);
  --shadow-sm: 0px 1px 7.5px 0px hsl(0 0% 0% / 0.15),
    0px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow: 0px 1px 7.5px 0px hsl(0 0% 0% / 0.15),
    0px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow-md: 0px 1px 7.5px 0px hsl(0 0% 0% / 0.15),
    0px 2px 4px -1px hsl(0 0% 0% / 0.15);
  --shadow-lg: 0px 1px 7.5px 0px hsl(0 0% 0% / 0.15),
    0px 4px 6px -1px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0px 1px 7.5px 0px hsl(0 0% 0% / 0.15),
    0px 8px 10px -1px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0px 1px 7.5px 0px hsl(0 0% 0% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Merriweather", "sans-serif";
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* ------------------ CUSTOM CSS ------------- */

.chapter * {
  user-select: none;
  margin-top: 10px;
  text-indent: 30px;
}

/* Media query for mobile phones */
@media (max-width: 768px) {
  .chapter * {
    text-indent: 20px; /* Adjust as needed */
  }
}

table {
  background: rgb(198, 227, 244);
  border-radius: 10px;
  width: 100%;
  color: black;
  text-indent: 0px !important;
}
td {
  padding: 20px;
}

/* Customize the scrollbar track */
.scrollbar::-webkit-scrollbar {
  width: 12px; /* Adjust as needed */
}

/* Customize the scrollbar thumb (the draggable part) */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Change to your desired color */
  border-radius: 6px; /* Rounded corners */
}

/* Customize the scrollbar thumb when hovered */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change to your desired color */
}

/* Global custom scrollbar styling */
html,
body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #333333 #f1f1f1; /* For Firefox */
}

/* Webkit-based styling (for Chrome, Safari, Edge) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #333333;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: #2828d2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.reader-custom-style * {
  font-size: var(--reader-font-size) !important;
  line-height: var(--reader-line-height) !important;
  text-align: var(--reader-text-align) !important;
}
